@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font globally */
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scrollbar styling for the main page */
body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #767583; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

body::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Track color */
}
/* custom-styles.css */
.react-calendar-heatmap .color-empty {
  fill: #ebedf0; /* Gray for no attendance */
}
.react-calendar-heatmap .color-present {
  fill: #4caf50; /* Green for present */
}
.react-calendar-heatmap .color-absent {
  fill: #f44336; /* Red for absent */
}
.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}
.react-calendar-heatmap .color-present {
  fill: #4caf50;
}
.react-calendar-heatmap rect {
  width: 10px;
  height: 10px;
  rx: 2px; /* Rounded corners */
}



.custom-pagination .swiper-pagination-bullet {
  @apply w-4 h-1.5 bg-gray-500 rounded-full transition-all  duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply w-6 h-1.5 bg-[#02DB81] scale-110;
}




